


/* MIKE STUFF*/

BODY              { 
                    background: #5F96BF url(../images/backgrounds/dmel_bg.png) no-repeat fixed 0 0 /*#C6CC97*/;
                    font-family: sans-serif;
                    font-size: small;
                  }
                  
/*ROUNDED DIVs*/
div,
td,
table, 
form,
fieldset,
.tabmenu_active {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body {margin:5px 25px;}
#actionmenu { background-image: none;}

h1 {
    font-size: 2em;
    color: #EFF8FF;
}

.ctl_visible,
.ctl_hidden {
	margin-left: 5px;
}

.tabmenu_active   { 
	border-color: #000;
}


/*Configuration Form*/

fieldset {
	margin-bottom: 1em;
	background:  rgba(255,255,255,0.8);
}

#plugin_configure_div form{
	margin: 1em auto;
	padding: 1em;
	background:  rgba(255,255,255,0.4);
	border: solid 6px white;
	max-width: 55em;
}

#plugin_configure_div li{
	padding-left: 2em;
	list-style: circle inside;
}

/*MKT for genes ballon*/

div.mkt_gene table{
	border:solid 1px;
}

div.mkt_gene td{
	border:solid 1px;
}
